name: Reusable Unit Tests

on: [ workflow_call ]

jobs:
  baseUnitTest:
    name: Gradle 9.2.1 @ ubuntu-latest
    uses: ./.github/workflows/reusable-single-unitTest.yml
    secrets: inherit
    permissions:
      checks: write
    with:
      gradleVersion: "9.2.1"
      os: ubuntu-latest

  unitTests:
    name: Gradle ${{ matrix.gradleVersion }} @ ${{ matrix.os }}
    needs: baseUnitTest
    uses: ./.github/workflows/reusable-single-unitTest.yml
    secrets: inherit
    permissions:
      checks: write
    with:
      gradleVersion: ${{ matrix.gradleVersion }}
      os: ${{ matrix.os }}
      cacheReadOnly: true

    strategy:
      fail-fast: false
      matrix:
        gradleVersion:
          - "8.13"
          - "8.14.3"
          - "9.2.1"
          - "nightly"
        os:
          - windows-latest
          - ubuntu-latest
          - macos-latest
        exclude:
          - os: ubuntu-latest
            gradleVersion: "9.2.1"
