name: Reusable Code Inspection

on: [ workflow_call ]

jobs:
  codeInspection:
    name: Code Inspection
    runs-on: ubuntu-latest
    steps:

      - name: Fetch Sources
        uses: actions/checkout@v6
        with:
          fetch-depth: 0 # only report issues that appeared in a PR

      - name: Qodana - Code Inspection
        uses: JetBrains/qodana-action@v2025.2.4
        if: ${{ false }}  # disable for now
